<style type="text/css">
  .body_email {
    width: 80%;
    margin: 0 auto;
    position: relative;
  }
  header {
    background-color: #2051f1;
    color: white;
    font-size: larger;
    text-align: center;
    padding: 10px 0;
  }
  .title {
    background-color: white;
    position: relative;
    text-align: center;
    height: 5rem;
  }
  .empty {
    width: 100%;
    height: 1rem;
    background-color: blue;
    margin-top: 7%;
  }
  .main {
    background-color: white;
    width: 90%;
    margin: -6rem auto 0;
    border-radius: 10px;
    padding: 20px 0;
  }
  .main h1 {
    font-size: x-large;
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
  }
  .main h2 {
    font-size: larger;
    max-width: 80%;
    text-align: center;
    margin: 20px auto 0;
  }
  .main span {
    font-weight: bold;
    color: blue;
    font-size: x-large;
  }
  .main h3 {
    font-size: x-large;
    color: #3f5fd3;
    max-width: 80%;
    text-align: center;
    margin: 30px auto 0;
  }
  .conten {
    max-width: 90%;
    margin: 20px auto 0;
    font-family: monospace;
    font-size: larger;
  }
  .conten_trx {
    display: flex;
    justify-content: space-between;
  }
  .dot_line {
    width: 90%;
    border-bottom: 1px black dotted;
    margin: 0 auto;
  }
  .conten_jumlah {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: 10px auto;
    font-size: larger;
    position: relative;
  }
  .button_pay {
    background-color: #184afc;
    font-size: larger;
    width: 10rem;
    border-radius: 2rem;
    padding: 10px 0;
    text-align: center;
    margin: 1rem auto;
    cursor: pointer;
  }
  .button_pay a {
    text-decoration: none;
    color: white;
  }

  @media (max-width: 640px) {
    .conten,
    .conten_jumlah,
    .conten_trx {
      flex-direction: column;
    }
  }
</style>

<div class="body_email">
  <header>Halo, <a rel="nofollow" style='text-decoration:none; color:white'><%=to_email%></a></header>
  <div class="title">
    <h1
          style="
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman',
              serif;
          "
        >
          <img
            src="https://drive.google.com/uc?export=view&id=1R7lf1ohYQBRg-EuCFrrZcO2ZW5Wh3aXb"
            alt="google"
            style="
              border-radius: 100%;
              background-color: rgb(153, 153, 153);
              margin-left: -40px;
              padding: 2px;
            "
          />
        </h1>
  </div>
  <header><a rel="nofollow" style='text-decoration:none; color:white; display: none;'><%=to_email%></a></header>
  <div class="main">
    <h1 style="color: rgb(0, 0, 0);"><a rel="nofollow" style='text-decoration:none;'><%=from_email%></a> telah mengirim permintaan pembayaran kepada anda</h1>
    <h2 style="color: rgb(0, 0, 0);">Catatan dari <a rel="nofollow" style='text-decoration:none;'><%=from_email%></a> :</h2>
    <h2><span>"</span> <%=note%> <span>"</span></h2>
    <h3>Perincian permintaan pembayaran</h3>
    <div class="conten">
      <div class="conten_trx">
        <p>ID Transaksi:</p>
        <p style="font-family: monospace; margin-left: 10px"><%=trx%></p>
      </div>
      <div class="conten_trx" style="color: rgb(0, 0, 0);">
        <p>Tanggal Transaksi:</p>
        <p style="font-family: monospace; margin-left: 10px"><%=date%></p>
      </div>
    </div>
    <div class="dot_line"></div>
    <div class="conten_jumlah">
      <p>Jumlah yang diminta:</p>
      <p style="font-family: monospace; margin-left: 10px; font-size: 120%">
        Rp <%=amount%>
      </p>
    </div>
    <div class="dot_line"></div>
  </div>
  <div class="button_pay">
    <a
      href="http://192.168.100.24:3030/myaccount/transfer/select?from_email=<%=from_email%>&to_email=<%=to_email%>&amount=<%=amount%>&note=<%=note%>"
      target="_blank"
      >Bayar Sekarang</a
    >
  </div>
</div>
